.table-row{
    font-size:14px;
}

.button-search{
    position: absolute !important;
    bottom: 18px !important;
}

.center-content{
    text-align: center; 
    margin:0 auto;
}

.loading-text{
    font-size: 14px;
}